@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
body {
  background-image: url('/Images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
  font-family: "Open Sans", sans-serif;
}
/* Add these styles to your existing CSS */
.nav-links {
  transition: top 0.5s ease-in-out; /* Adjust the duration and easing as needed */
}

header {
  transition: margin-bottom 0.5s ease-in-out; /* Adjust the duration and easing as needed */
}
.nav-links ul {
  list-style: none;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: color 0.3s ease; /* Adding a smooth transition for the color change */
}

.nav-links a:hover {
  color: #FFA500; /* Change this to the desired shade of orange */
}

.nav-links ul li a:hover {
  text-decoration: none !important;
}