@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');


/* Home.css Starts */
body {
  background: url(../images/Home-Background.jpg);
}

.homeHeader {
  font-family: 'Dancing Script', cursive;
  font-size: 4.25rem !important;
  color: white;
  padding-bottom: 0.75rem;
  font-weight: 800;
}

p {
  font-family: "Recursive", sans-serif;
  color: #f5f5f5;
  font-size: 1.3rem;
  font-weight: 400;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .homeHeader {
    font-size: 3.5rem !important;

  }

  p {
    font-size: 1.5rem;

  }
}

@media (max-width: 576px) {
  .homeHeader {
    font-size: 3rem !important;
  }

  p {
    font-size: 1.2rem;

  }
}

/* Home.css Ends */


/* Navbar.css Starts */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.navbarBackground {
  background: url('../images/Home-Background.jpg');
  background-size: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

.iconLogoHeader {
  color: #ff2800;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar-nav .nav-link {
  text-decoration: none;
  color: #666777;
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-link:hover,
.nav-link.active {
  color: orange !important;
}

.navbar-toggler,
.btn-close {
  color: white !important;
  border: none;
  font-size: 2rem;
  font-weight: 800;
}

.navbar-toggler-icon {
  color: white !important;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

/* Navbar.css Ends */


/* Menu.css Starts */
.menuHeading {
  font-family: Rosarivo;
  font-style: italic;
}

.foodCard {
  transition: border 0.3s ease-in-out;
  overflow: hidden;
}

.foodCard:hover {
  border: 2px solid #ff2800;
}

.foodDetailsContainer {
  font-family: Roboto;
  font-size: 14px;
}

.foodName {
  font-family: Rosarivo;
  font-weight: bold;
}

.buyBtn {
  color: #ff2800;
  border: 1px solid #ff2800;
  transition: all 0.5s ease;
}

.buyBtn:hover {
  color: #ffffff;
  border: 1px solid #ff2800;
  background-color: #ff2800;
}

.editBtn {
  transition: all 0.5s ease;
  color: #ffffff;
  border: 1px solid orange;
  background-color: orange;
}

.editBtn:hover {
  color: orange;
  border: 1px solid orange;
  background-color: transparent;
}

.addBtn {
  transition: all 0.5s ease;
  position: fixed;
  bottom: 0;
  right: 0;
}

.deleteBtn {
  transition: all 0.5s ease;
}

.foodImage {
  aspect-ratio: 1/1;
  transition: all 0.5s ease;
}

/* Menu.css Ends */


/* About.css Starts */
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

iframe.map-iframe {
  width: 100%;
  height: 300px;
}

/* About.css Ends */


/* LoginPage Css Starts*/
.loginImage {
  object-fit: contain;
}

.loginBackgroundImage {
  background-image: url("../../assets/images/LoginBackground.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media (max-width: 755px) {
  .loginImageBackground {
    display: none;
  }
}

@media (max-width: 732px) {
  .createAccount {
    display: inline-block !important;
  }

  .resetPassword {
    float: right ! important;
    gap: 2;
  }

  .createAccount {
    float: left !important;
  }
}

/* LoginPage Css Ends */


/* MultiStep Form Css Starts */
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  font-family: montserrat, arial, verdana;
}

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #ee0979;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #ee0979;
  color: white;
}


/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}

.dme_link a {
  background: #FFF;
  font-weight: bold;
  color: #ee0979;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #C5C5F1;
  text-decoration: none;
}

/* MultiStep Form Css Ends */